<!DOCTYPE html>
<html>
  <head>
    <title>PhiLandingPage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700|Nunito:200,300,300i,400,400i,600,700,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/464e539501.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
